:root {
  --maintextcolor: #633e37;
  --blue: #232163;
  --pink: #c34b7b;
  --green: #1b5030;
}

* {
  color: var(--maintextcolor);
}
/*backgound*/
html {
  background: linear-gradient(
    to bottom,
    var(--pink) 33%,
    var(--green) 66%,
    var(--blue) 100%
  );
}

.backgroundImage {
  opacity: 0;
  width: 100%;
  height: 100%;
}
/*backgound*/

/*container*/

.container {
  background-color: #bbe4e9;
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: outset 12px var(--maintextcolor);
  border-top: outset 12px var(--maintextcolor);
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 3fr;
  row-gap: 30px;

  transition: 0.7s;
}

/*container*/
/*counter*/

.counter {
  position: absolute;
  left: 50px;
  top: 50px;
}

table {
  border: 2px black solid;
  width: 150px;
}

th {
  background-color: #bbe4e9;
}

/*counter*/
/*content*/

h1 {
  margin: auto;
  text-decoration: underline;
}

.rival {
  display: block;
  text-align: center;
  width: 200px;
  height: min-content;
  font-size: x-large;
  font-weight: 900;
  margin: auto;
}

.rival img {
  width: 100px;
}

.buttons {
  display: flex;
}

.rock,
.paper,
.scissors {
  width: 200px;
  height: 90px;
  margin: auto;
  display: grid;
  text-align: center;
  gap: 5px;
  font-size: 25px;
}

.buttons img {
  width: 100px;
  margin: auto;
}

a {
  padding-left: 62.5px;
  padding-right: 62.5px;
  padding-top: 36.5px;
  padding-bottom: 36.5px;
}

/*content*/
